<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [2]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (3.1.0)
Requirement already satisfied: ipython-sql in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: six in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable<1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [ ]:
%sql ibm_db_sa://

In [46]:
#Replace the placeholder values with the actuals for your Db2 Service Credentials
dsn_hostname = "" # e.g.: "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = ""        # e.g. "abc12345"
dsn_pwd = ""      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            # e.g. "BLUDB"
dsn_port = ""                # e.g. "32733" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"

In [47]:
import ibm_db
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Unable to connect:  [IBM][CLI Driver] SQL30082N  Security processing failed with reason "17" ("UNSUPPORTED FUNCTION").  SQLSTATE=08001 SQLCODE=-30082

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [14]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select distinct launch_site from spacextbl"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

while ibm_db.fetch_both(selectStmt) != False:
   print (ibm_db.result(selectStmt, 0))

CCAFS LC-40
CCAFS SLC-40
KSC LC-39A
VAFB SLC-4E

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [24]:
sql_query = "select * FROM spacextbl WHERE launch_site LIKE 'CCA%' LIMIT 5"

sqlStmt = ibm_db.exec_immediate(conn, sql_query)

while ibm_db.fetch_row(sqlStmt) != False:
   print ("DATE:", ibm_db.result(sqlStmt, "DATE"), "TIME:", ibm_db.result(sqlStmt, "TIME__UTC_"), "BOOSTER VERSION:", ibm_db.result(sqlStmt, "BOOSTER_VERSION"), "LAUNCH SITE:", ibm_db.result(sqlStmt, "LAUNCH_SITE"), 
          "PAYLOAD:", ibm_db.result(sqlStmt, "PAYLOAD"), "PAYLOAD MASS (KG):", ibm_db.result(sqlStmt, "PAYLOAD_MASS__KG_"), "ORBIT:", ibm_db.result(sqlStmt, "ORBIT"), "CUSTOMER:", ibm_db.result(sqlStmt, "CUSTOMER"),
          "MISSION OUTCOME:", ibm_db.result(sqlStmt, "MISSION_OUTCOME"), "LANDING OUTCOME:", ibm_db.result(sqlStmt, "LANDING__OUTCOME"))

DATE: 2010-06-04 TIME: 18:45:00 BOOSTER VERSION: F9 v1.0  B0003 LAUNCH SITE: CCAFS LC-40 PAYLOAD: Dragon Spacecraft Qualification Unit PAYLOAD MASS (KG): 0 ORBIT: LEO CUSTOMER: SpaceX MISSION OUTCOME: Success LANDING OUTCOME: Failure (parachute)
DATE: 2010-12-08 TIME: 15:43:00 BOOSTER VERSION: F9 v1.0  B0004 LAUNCH SITE: CCAFS LC-40 PAYLOAD: Dragon demo flight C1, two CubeSats, barrel of Brouere cheese PAYLOAD MASS (KG): 0 ORBIT: LEO (ISS) CUSTOMER: NASA (COTS) NRO MISSION OUTCOME: Success LANDING OUTCOME: Failure (parachute)
DATE: 2012-05-22 TIME: 07:44:00 BOOSTER VERSION: F9 v1.0  B0005 LAUNCH SITE: CCAFS LC-40 PAYLOAD: Dragon demo flight C2 PAYLOAD MASS (KG): 525 ORBIT: LEO (ISS) CUSTOMER: NASA (COTS) MISSION OUTCOME: Success LANDING OUTCOME: No attempt
DATE: 2012-10-08 TIME: 00:35:00 BOOSTER VERSION: F9 v1.0  B0006 LAUNCH SITE: CCAFS LC-40 PAYLOAD: SpaceX CRS-1 PAYLOAD MASS (KG): 500 ORBIT: LEO (ISS) CUSTOMER: NASA (CRS) MISSION OUTCOME: Success LANDING OUTCOME: No attempt
DATE: 2013-03-01 TIME: 15:10:00 BOOSTER VERSION: F9 v1.0  B0007 LAUNCH SITE: CCAFS LC-40 PAYLOAD: SpaceX CRS-2 PAYLOAD MASS (KG): 677 ORBIT: LEO (ISS) CUSTOMER: NASA (CRS) MISSION OUTCOME: Success LANDING OUTCOME: No attempt

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [27]:
sel_query = "select SUM(PAYLOAD_MASS__KG_) FROM spacextbl WHERE Customer = 'NASA (CRS)'"

selStmt = ibm_db.exec_immediate(conn, sel_query)

ibm_db.fetch_tuple(selStmt)

(45596,)

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [29]:
sql_query = "select AVG(PAYLOAD_MASS__KG_) FROM spacextbl WHERE Booster_Version = 'F9 v1.1'"

selStmt = ibm_db.exec_immediate(conn, sql_query)

ibm_db.fetch_tuple(selStmt)

(2928,)

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [37]:
sql_query = "select MIN(DATE) FROM spacextbl WHERE Landing__Outcome = 'Success (ground pad)'"

selStmt = ibm_db.exec_immediate(conn, sql_query)

while ibm_db.fetch_row(selStmt) != False:
   print ("DATE:", ibm_db.result(selStmt, 0))

DATE: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [38]:
sql_query = "select distinct Booster_Version FROM spacextbl WHERE Landing__Outcome = 'Success (drone ship)' AND Payload_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000"

selStmt = ibm_db.exec_immediate(conn, sql_query)

while ibm_db.fetch_row(selStmt) != False:
   print ("BOOSTER VERSION:", ibm_db.result(selStmt, 0))

BOOSTER VERSION: F9 FT  B1021.2
BOOSTER VERSION: F9 FT  B1031.2
BOOSTER VERSION: F9 FT B1022
BOOSTER VERSION: F9 FT B1026

### Task 7

##### List the total number of successful and failure mission outcomes

In [40]:
sql_query = "select distinct Mission_Outcome, Count(*) as Outcome_Counts FROM spacextbl Group by Mission_Outcome"

selStmt = ibm_db.exec_immediate(conn, sql_query)

while ibm_db.fetch_row(selStmt) != False:
   print ("BOOSTER VERSION:", ibm_db.result(selStmt, 0), "Count:", ibm_db.result(selStmt, 1))

BOOSTER VERSION: Failure (in flight) Count: 1
BOOSTER VERSION: Success Count: 99
BOOSTER VERSION: Success (payload status unclear) Count: 1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [41]:
sql_query = "select Booster_Version FROM spacextbl WHERE Payload_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM spacextbl)"

selStmt = ibm_db.exec_immediate(conn, sql_query)

while ibm_db.fetch_row(selStmt) != False:
   print ("BOOSTER VERSION:", ibm_db.result(selStmt, 0))

BOOSTER VERSION: F9 B5 B1048.4
BOOSTER VERSION: F9 B5 B1049.4
BOOSTER VERSION: F9 B5 B1051.3
BOOSTER VERSION: F9 B5 B1056.4
BOOSTER VERSION: F9 B5 B1048.5
BOOSTER VERSION: F9 B5 B1051.4
BOOSTER VERSION: F9 B5 B1049.5
BOOSTER VERSION: F9 B5 B1060.2
BOOSTER VERSION: F9 B5 B1058.3
BOOSTER VERSION: F9 B5 B1051.6
BOOSTER VERSION: F9 B5 B1060.3
BOOSTER VERSION: F9 B5 B1049.7

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [42]:
sql_query = "select Booster_Version, Launch_Site, Landing__Outcome FROM spacextbl WHERE DATE BETWEEN date'2015-01-01' AND date'2015-12-31' AND LANDING__OUTCOME = 'Failure (drone ship)'"

selStmt = ibm_db.exec_immediate(conn, sql_query)

while ibm_db.fetch_row(selStmt) != False:
   print ("BOOSTER VERSION:", ibm_db.result(selStmt, 0), "Launch Site:", ibm_db.result(selStmt, 1), "Landing Outcome:", ibm_db.result(selStmt, 2))

BOOSTER VERSION: F9 v1.1 B1012 Launch Site: CCAFS LC-40 Landing Outcome: Failure (drone ship)
BOOSTER VERSION: F9 v1.1 B1015 Launch Site: CCAFS LC-40 Landing Outcome: Failure (drone ship)

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [44]:
sql_query = "select distinct Landing__OUTCOME, Count(*) AS Counts FROM spacextbl WHERE DATE BETWEEN date'2010-06-04' AND date'2017-03-20' GROUP BY Landing__OUTCOME ORDER BY Counts DESC"

selStmt = ibm_db.exec_immediate(conn, sql_query)

while ibm_db.fetch_row(selStmt) != False:
   print (ibm_db.result(selStmt, 0), ibm_db.result(selStmt, 1))

No attempt 10
Failure (drone ship) 5
Success (drone ship) 5
Controlled (ocean) 3
Success (ground pad) 3
Failure (parachute) 2
Uncontrolled (ocean) 2
Precluded (drone ship) 1

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>